/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html        { width:100%; height:100%; }
body        { padding:0; margin:0; background: #FFF; color:#000; height: 100%; min-width: 976px; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
    padding:0;
    margin:0;
    outline:none;
    list-style:none;
}
body, select, input, textarea, input[type="password"], button {
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

select, input, textarea        { font-size: 13px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
input[type="password"]         {  }
input[type="checkbox"]	       { vertical-align: baseline !important; margin-top: 2px !important; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { color:#0085D2; text-decoration:none; }
a:hover                        { text-decoration:underline; }
button                         { color: #fff; padding: 0; border: 0; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	       { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.no-overflow                   { overflow:visible !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; overflow: hidden; }
.uppercase	               { text-transform: uppercase; }
.pointer                       { cursor:pointer; }



:focus {outline:none;}
::-moz-focus-inner {border:0;}


.editable ul, .editable ol {
  padding: 0 0 0 20px;
}
.editable ul li {
  list-style: decimal;
}
.editable ol li {
  list-style: disc;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------> Styles of buttons <------------------------------*/
/*----------------------------------------------------------------------------------*/
.btn {
  background-color: #C0C0C0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#DADADA), to(#A0A0A0));
  background-image: -webkit-linear-gradient(top, #DADADA, #A0A0A0);
  background-image: -moz-linear-gradient(top, #DADADA, #A0A0A0);
  background-image: -ms-linear-gradient(top, #DADADA, #A0A0A0);
  background-image: -o-linear-gradient(top, #DADADA, #A0A0A0);
  background-image: linear-gradient(top, #DADADA, #A0A0A0);
  
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #9A9A9A #9A9A9A #9A9A9A;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  
  font-size: 17px;
  color: #4A4A4A;
  display: block;
  padding: 6px 0;
  text-align: center;
  text-shadow: 0 1px 0 #FFF;
  
  cursor: pointer;
}

/*----------------------------------------------------------------------------------*/
/*------------------------------------> Structure <---------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
  min-width: 960px;
  max-width: 1100px;
  width: 100%;
  min-height: 100%;
  background: #F7F7F7;
  margin: 0 auto;
  overflow: hidden;
}

.footer {
  width: 600px;
}

.wrap {
  width: 960px;
  margin: 0 auto;
}
.content .wrap {
  padding: 60px 0 50px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------> Header <-----------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
  border-bottom: 1px solid #D7D7D7;
  background: #FFF;
}
.header, .header ul, .header li {
  height: 60px;  
}
.header ul {
  overflow: hidden;
  padding: 0 0 5px;
}
.header .logo, .header li {
  float: left;  
}
.header a {
  display: block;
  padding: 0 23px;
  border-right: 1px solid #D7D7D7;
}
.header .logo {
  padding-top: 20px;
  padding-bottom: 22px;
}
.header .logo img {
  display: block;
}
.header .icon {
  width: 14px;
  height: 14px;
  padding-top: 23px;
  padding-bottom: 23px;
}
.header .reports {
  background: url(../img/img-list-blk.png) center center no-repeat;
}
.header .add {
  background: url(../img/plus-blk.png) center center no-repeat;
}
.header li {
  overflow: hidden;
}
.header li:hover {
  border-bottom: 6px solid #0C9;
  height: 60px;
  margin-left: -1px;
  padding-left: 1px;
}
.header .first:hover {
  border-bottom: 0;
  margin: 0;
  padding: 0;
}
/*----------------------------------------------------------------------------------*/
/*-----------------------------------> Edit page <----------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
  padding: 50px 0 0;
  overflow: hidden;
}
.footer .mail {
  padding: 0 0 0 22px;
  background: url(../img/envelop-blk.png) no-repeat;
}
.footer .copy {
  float: right;
  padding: 0 5px 0 0;
}
.footer .copy, .footer .mail {
  display: block;
  color: #D3CCDB;
  font-size: 13px;
  text-decoration: none;
}
/*----------------------------------------------------------------------------------*/
/*-----------------------------------> Edit page <----------------------------------*/
/*----------------------------------------------------------------------------------*/
h1 {
  font-size: 15px;
  font-weight: normal;
}
.edit-page h1 {
  padding: 30px 0 0 22px;
}
.edit-page .caption {
  background: #FFF;
  height: 80px;
  border: 1px solid #F2F2F2;
}
.edit-page .with-date h1 {
  padding: 22px 0 0 22px;
}
.edit-page .with-date .date {
  display: block;
  color: #999;
  font-size: 10px;
  text-transform: uppercase;
  padding: 3px 0 0 22px;
}
.edit-page .main {
  width: 601px;
}
.edit-blocks {
  background: #E4E4E4;
  /*border-left: 1px solid #F2F2F2;*/
  border-bottom: 1px solid #F2F2F2;
  overflow: hidden;
}
.edit-blocks > li {
  width: 200px;
  height: 136px;
  padding: 64px 0 0;
  float: left;
  text-align: center;

  background-color: #F2F2F2;
  background-image: -webkit-gradient(linear, right top, left bottom, from(0, #E5E5E5), to(0.4, #F2F2F2));
  background-image: -webkit-linear-gradient(right top, #E5E5E5 0%, #F2F2F2 40%);
  background-image: -moz-linear-gradient(right top, #E5E5E5 0%, #F2F2F2 40%);
  background-image: -ms-linear-gradient(right top, #E5E5E5 0%, #F2F2F2 40%);
  background-image: -o-linear-gradient(right top, #E5E5E5 0%, #F2F2F2 40%);
  background-image: linear-gradient(right top, #E5E5E5 0%, #F2F2F2 40%);
}
.edit-blocks .red {
  background-color: #FF6666;
  background-image: -webkit-gradient(linear, right top, left bottom, from(0, #FF3434), to(0.4, #FF6666));
  background-image: -webkit-linear-gradient(right top, #FF3434 0%, #FF6666 40%);
  background-image: -moz-linear-gradient(right top, #FF3434 0%, #FF6666 40%);
  background-image: -ms-linear-gradient(right top, #FF3434 0%, #FF6666 40%);
  background-image: -o-linear-gradient(right top, #FF3434 0%, #FF6666 40%);
  background-image: linear-gradient(right top, #FF3434 0%, #FF6666 40%);
}
.edit-blocks .green {
  background-color: #66CC00;
  background-image: -webkit-gradient(linear, right top, left bottom, from(0, #669A00), to(0.4, #66CC00));
  background-image: -webkit-linear-gradient(right top, #669A00 0%, #66CC00 40%);
  background-image: -moz-linear-gradient(right top, #669A00 0%, #66CC00 40%);
  background-image: -ms-linear-gradient(right top, #669A00 0%, #66CC00 40%);
  background-image: -o-linear-gradient(right top, #669A00 0%, #66CC00 40%);
  background-image: linear-gradient(right top, #669A00 0%, #66CC00 40%);  
}

.edit-blocks .yellow {
  background-color: #FFDB4A;
  background-image: -webkit-gradient(linear, right top, left bottom, from(0, #F9C700), to(0.4, #FFDB4A));
  background-image: -webkit-linear-gradient(right top, #F9C700 0%, #FFDB4A 40%);
  background-image: -moz-linear-gradient(right top, #F9C700 0%, #FFDB4A 40%);
  background-image: -ms-linear-gradient(right top, #F9C700 0%, #FFDB4A 40%);
  background-image: -o-linear-gradient(right top, #F9C700 0%, #FFDB4A 40%);
  background-image: linear-gradient(right top, #F9C700 0%, #FFDB4A 40%);  
}

.edit-blocks .red .block-caption, .edit-blocks .green .block-caption, .edit-blocks .yellow .block-caption {
  color: #FFF;
}
.edit-blocks .red .area {
  color: #D53333;
}
.edit-blocks .green .area {
  color: #669900;
}
.edit-blocks .yellow .area {
  color: #9D7A00;
}

.edit-blocks .with-image p {
  color: #FFF;
}
.edit-blocks .block-caption {
  font-size: 37px;
  color: #333;
  display: block;
}

.edit-blocks p {
  color: #333;
  font-size: 13px;
  padding: 0 8px;
}
.edit-blocks .area {
  color: #999;
  font-size: 10px;
  text-transform: uppercase;
  display: block;
  padding: 9px 0 0;
}
.edit-blocks .add {
  width: 30px;
  height: 30px;
  background: url(../img/plus-blk.png) 7px 7px no-repeat #D0D0D0;
  display: block;
  margin: 20px auto 0;
}

.edit-blocks .with-list {
  width: 180px;
  height: 178px;
  padding: 22px 0 0 20px;
  text-align: left;
}
.edit-blocks .with-list li {
  font-size: 28px;
  list-style: square inside;
  color: #CCC;
  line-height: 20px;
}
.edit-blocks .with-list li span {
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  display: inline-block;
  margin: -2px 0 0;
}
/*----------------------------------------------------------------------------------*/
/*------------------------------------> Sidebar <-----------------------------------*/
/*----------------------------------------------------------------------------------*/
.sidebar {
  float: right;
  width: 360px;
  padding: 42px 0 0;
}
.sidebar .side-caption {
  background-color: #D7D7D7;
  background-image: -webkit-gradient(linear, left top, right top, from(0, #C9C9C9), to(0.3, #D7D7D7));
  background-image: -webkit-linear-gradient(left, #C9C9C9 0%, #D7D7D7 30%);
  background-image: -moz-linear-gradient(left, #C9C9C9 0%, #D7D7D7 30%);
  background-image: -ms-linear-gradient(left, #C9C9C9 0%, #D7D7D7 30%);
  background-image: -o-linear-gradient(left, #C9C9C9 0%, #D7D7D7 30%);
  background-image: linear-gradient(left, #C9C9C9 0%, #D7D7D7 30%);  

  border: 1px solid #F2F2F2;
  border-right: 0;
  padding: 4px 0;
}
.sidebar .side-caption h2 {
  border-right: 1px solid #BCBCBC;
  font-size: 13px;
  font-weight: normal;
  color: #999;
  padding: 9px 10px 7px;
}

.sidebar .buttons-block,
.sidebar .buttons-block .first,
.sidebar .buttons-block .button a,
.side-block .form-block {
  border-style: solid;
  border-color: #F2F2F2;
}


.sidebar .buttons-block {
  width: 60px;
  float: left;
  border-width: 0 1px 0 0;
}
.sidebar .forms-wrap {
  float: left;
  width: 299px;
}
.sidebar .buttons-block .first {
  background: #D7D7D7;
  padding: 4px 0;
  
  border-width: 1px 0;
}
.sidebar .buttons-block .close a {
  background: url(../img/close-blk.png) 20px 9px no-repeat;   
}
.sidebar .buttons-block .switch a {
  background: url(../img/arrow-right-blk.png) 21px 8px no-repeat;   
}
.sidebar .buttons-block .switch.active a {
  background: url(../img/arrow-left-blk.png) 20px 8px no-repeat;   
}

.sidebar .buttons-block .first a {
  display: block;
  border-left: 1px solid #E4E4E4;
  height: 31px;
}
.sidebar .buttons-block .button {
  background-color: #D7D7D7;
  background-image: -webkit-gradient(linear, left top, right top, from(0, #BFBFBF), to(0.3, #D7D7D7));
  background-image: -webkit-linear-gradient(left, #BFBFBF 0%, #D7D7D7 30%);
  background-image: -moz-linear-gradient(left, #BFBFBF 0%, #D7D7D7 30%);
  background-image: -ms-linear-gradient(left, #BFBFBF 0%, #D7D7D7 30%);
  background-image: -o-linear-gradient(left, #BFBFBF 0%, #D7D7D7 30%);
  background-image: linear-gradient(left, #BFBFBF 0%, #D7D7D7 30%);
  
  text-align: center;
}
.sidebar .buttons-block .button.active, .sidebar .buttons-block .button:hover {
  background-color: #FFF;
  background-image: -webkit-gradient(linear, left top, right top, from(0, #E7E7E7), to(0.3, #FFFFFF));
  background-image: -webkit-linear-gradient(left, #E7E7E7 0%, #FFFFFF 30%);
  background-image: -moz-linear-gradient(left, #E7E7E7 0%, #FFFFFF 30%);
  background-image: -ms-linear-gradient(left, #E7E7E7 0%, #FFFFFF 30%);
  background-image: -o-linear-gradient(left, #E7E7E7 0%, #FFFFFF 30%);
  background-image: linear-gradient(left, #E7E7E7 0%, #FFFFFF 30%);
}
.sidebar .buttons-block .button a {
  font-size: 9px;
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
  height: 45px;
  display: block;
  border-width: 0 0 1px;
  padding: 15px 0 0;
}
.sidebar .buttons-block .button.about a {
  background: url(../img/gear-blk.png) 22px 32px no-repeat;
}
.sidebar .buttons-block .button.add a {
  background: url(../img/plus-blk.png) 22px 32px no-repeat;
}
.sidebar .buttons-block .button.share a {
  background: url(../img/users-blk.png) 22px 32px no-repeat;
}
.sidebar .buttons-block .button.edit a {
  background: url(../img/pencil-blk.png) 22px 32px no-repeat;
}

.side-block {
  overflow: hidden;
}
.side-block .form-block {
  border-width: 0 1px 1px 0;
  background: #FBFBFB;
  padding: 0 9px 50px;
}
.side-block .form-block .btn-green {
  font-size: 13px;
  font-weight: bold;
  background: #00CC99;
  padding: 12px 0 13px;
  margin: 20px 0 0;
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
}
.side-block .form-block label, .side-block .form-block .chars {
  color: #999;
  font-size: 9px;
  text-transform: uppercase;
  display: block;
  padding: 13px 0 5px;
}
.side-block .form-block .input-block {
  border: 1px solid #E4E4E4;
  background: #F2F2F2;
}
.side-block .form-block .input-block input, .side-block .form-block .input-block textarea {
  border: 0;
  width: 260px;
  background: none;
  padding: 13px 9px 12px;
}
.side-block .form-block .input-block.big-font input {
  font-size: 40px;
}
.side-block .form-block .date input {
  width: 220px;
}
.side-block .form-block .date .icon {
  display: block;
  width: 40px;
  height: 40px;
  float: right;
  background: url(../img/calendar-blk.png) 12px 12px no-repeat;
}


.side-block .form-block .upload-link {
  color: #00CC99;
}
.side-block .form-block .btn-browse {
  background: #E4E4E4;
  color: #999;
  float: right;
  margin: 3px 3px 3px 0;
  font-size: 10px;
  font-weight: bold;
  padding: 11px 18px 10px;
  cursor: pointer;
}
.side-block .form-block .browse {
  overflow: hidden;
  position: relative;
}
.side-block .form-block .browse .file-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 50px;
  opacity: 0;
  cursor: pointer;
}
.side-block .form-block .browse input {
  width: 175px;
}
.side-block .form-block .input-caption, .side-block .form-block .input-caption label {
  overflow: hidden;
}
.side-block .form-block .chars {
  float: right;
}
.side-block .form-block .chars span {
  color: #333;
}
.side-block .form-block .input-block textarea {
  resize: none;
  height: 60px;
}


.side-block .form-block .square li {
  list-style: square inside;  
  font-size: 28px;
}


.side-block .form-block .square li.active, .side-block .form-block .digit li.active {
  background: #FFF;
}
.side-block .form-block .square li, .side-block .form-block .digit li {
  color: #CCC;
  line-height: 20px;
  padding: 6px 0 6px 13px;
  border-bottom: 1px solid #E4E4E4;
}
.side-block .form-block .square li:last-child, .side-block .form-block .digit li:last-child {
  border-bottom: 0;
}
.side-block .form-block .square .text, .side-block .form-block .digit .text {
  font-size: 13px;
  vertical-align: middle;
  display: inline-block;
  margin: -3px 0 0 5px;
  padding: 3px 0 3px 11px;
  border-left: 1px dotted #CCC;
}

.side-block .form-block .colored li {
  font-size: 42px;
}
.side-block .form-block .colored .red     { color: #F33; }
.side-block .form-block .colored .green   { color: #6C0; }
.side-block .form-block .colored .yellow  { color: #FC0; }

.side-block .form-block .colored li span    { color: #333; }

.side-block .form-block .marked-list input.text {
  width: 220px;
}
.side-block .form-block .choose-type .radio {
  float: right;
  margin: 5px 10px 0 0;
  width: auto;
}
.side-block .form-block .choose-type li span {
  color: #AAA;
}
.side-block .form-block .choose-type .square span {
  margin-left: -3px;
}
.side-block .form-block .choose-type .square {
  border-bottom: 1px solid #E4E4E4;
}

.side-block .form-block .digit {
  counter-reset: item;
  list-style-type: none;
}
.side-block .form-block .digit li:before { 
  content: counter(item) "  "; 
  counter-increment: item 
}
.side-block .form-block .digit li {
  display: block;
  list-style: decimal inside;
  font-size: 22px;
}


.side-block .form-block .square {
}
.side-block .form-block .square li:before { 
}






.side-block .form-block .input-block input::-webkit-input-placeholder,
.side-block .square input::-webkit-input-placeholder,
.side-block .digit input::-webkit-input-placeholder {
  font-style: italic;
}
.side-block .form-block .input-block input:-moz-placeholder,
.side-block .square input:-moz-placeholder,
.side-block .digit input:-moz-placeholder {
  font-style: italic;
}
.side-block .form-block .input-block input:-ms-input-placeholder,
.side-block .square input:-ms-input-placeholder,
.side-block .digit input:-ms-input-placeholder {
  font-style: italic;
}



.side-block .delete-data {
  text-align: center;
}
.side-block .delete-data a {
  color: #F33;
  font-size: 9px;
}



